*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea

*.apk
*.ap_
*.dex

*.class

bin/
gen/

.gradle/
build/

proguard/

*.log

.idea/

*.ipr
*.iws

out/

.idea_modules/

gradle-app.setting
/.project